.shopping-menu-item {
  &__container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 15rem;
    transition: color 0.25s;
    &:hover .shopping-menu-item__pointer {
      color: black;
    }
  }

  &__add-button {
    background: none;
    border: none;
    &:active .shopping-menu-item__image {
      transform: scale(1.25);
    }
  }

  &__image-container {
    position: relative;
    font-size: 2rem;
  }

  &__pointer {
    content: "\000A9";
    position: absolute;
    top: 1.5rem;
    right: 5rem;
    color: #d3d3d3;
    transition: color 0.25s;
  }

  &__image {
    width: 6rem;
    height: auto;
    &:hover {
      cursor: pointer;
    }
  }

  &__name {
    font-weight: 600;
    font-family: "PokemonGB";
    &--japanese {
      font-size: 1.5rem;
    }
  }

  &__description {
    text-align: center;
    max-width: 13rem;
    line-height: 1.5rem;
  }

  &__price {
    font-weight: 400;
    font-size: 1.5rem;
  }
}
